/* ------------------------------- some resets ------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

:root {
  /* ----------------------------- font settings ---------------------------- */
  font-size: 18px;
  font-family: "Rubik", sans-serif;

  /* -------------------------------- colors -------------------------------- */

  /* primary */

  --blue: hsl(246, 80%, 60%);

  --orange: hsl(15, 100%, 70%); /* work */
  --soft-blue: hsl(195, 74%, 62%); /* play */
  --light-red: hsl(348, 100%, 68%); /* study */
  --lime-green: hsl(145, 58%, 55%); /* exercise */
  --violet: hsl(264, 64%, 52%); /* social */
  --soft-orange: hsl(43, 84%, 65%); /* self care */

  /* Neutral */

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

body {
  background-color: var(--very-dark-blue);
  padding: 4.5em 1.3em;
}

main {
  display: grid;
  row-gap: 24px;
}

/* --------------------------- style profile card --------------------------- */
.profile {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--dark-blue);
  border-radius: 15px;
  overflow: hidden;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  padding: 34px;
  border-radius: 15px;
  background-color: var(--blue);
}

.profile-image {
  width: 64px;
  height: 64px;
  border: 3px solid white;
  border-radius: 50%;
}
.profile-info p {
  color: var(--pale-blue);
  font-size: 15px;
}

.profile-info h1 {
  font-size: 1.3rem;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  list-style: none;
  color: var(--desaturated-blue);
}

.period {
  cursor: pointer;
}

.period.active {
  color: white;
}

/* --------------------------- style the base card -------------------------- */

.card {
  /* background-color: #fff; */
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: right 17px top;
  background-size: 72px 72px;
  overflow: hidden;
}

.card.work {
  background-image: url(../images/icon-work.svg);
  background-color: var(--orange);
}

.card.play {
  background-image: url(../images/icon-play.svg);
  background-color: var(--soft-blue);
}

.card.study {
  background-image: url(../images/icon-study.svg);
  background-color: var(--light-red);
}

.card.exercise {
  background-image: url(../images/icon-exercise.svg);
  background-color: var(--lime-green);
}

.card.social {
  background-image: url(../images/icon-social.svg);
  background-color: var(--violet);
}

.card.self-care {
  background-image: url(../images/icon-self-care.svg);
  background-color: var(--soft-orange);
}

.inner-card {
  margin-top: 38px;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 28px 24px;
  overflow: hidden;
}

.inner-card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-card .title h2 {
  font-size: 1rem;
  margin-bottom: 6px;
  font-weight: 500;
}

.inner-card .title img {
  color: var(--pale-blue);
}

.inner-card .metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-card .metric-time {
  font-size: 1.8rem;
  font-weight: 300;
}

.inner-card .previous-metric {
  font-size: 0.84rem;
  color: var(--pale-blue);
}

footer {
  margin-top: 16px;
}

/* ------------------------------- attribution ------------------------------ */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: var(--pale-blue);
}
